<!DOCTYPE html>
<html>
<head>
  <title>Trollspeak</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Fontdiner+Swanky|Ubuntu" %>
  <%= stylesheet_link_tag    "speeches" %>
  <%= javascript_include_tag "speeches" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div> <!-- wrapper -->
</body>
</html>
